@font-face {
  font-family: 'MarkPro';
  font-weight: 900;
  src: url(/theme_clecarouge/static/fonts/FontFont_FF.Mark.Pro.Heavy.otf);
}

@font-face {
  font-family: 'MarkPro';
  font-weight: 400;
  src: url(/theme_clecarouge/static/fonts/FontFont_FF.Mark.Pro.Medium.otf);
}

body {
  background: black;
  color: white;
  font-family: 'MarkPro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.oe_website_sale h1[itemprop="name"] {
  font-weight: 400;
  font-family: 'MarkPro', sans-serif;
  font-size: 55px;
  line-height: 60px;
}

a {
  color: white;

  &:hover {
    color: white;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.cc-container{
  position: relative;
  width: 100%;
  min-height: 100%;
  font-family: 'MarkPro', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  &.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &.three-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &.cc-padded {
    max-width: 1600px;
    margin: 0 auto;
  }
}

.video_banner {
  overflow: hidden;
  background: black;
  display: grid;
  height: 100%;

  figure {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    align-items: center;

    video {
      width: 100%;
      max-height: 100%;
    }
  }
}


.prestations {
  font-family: 'MarkPro', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;

  a {
    display: grid;
    color: white;
    align-items: center;
    text-decoration: none;
    position: relative;

    figcaption {
      text-align: center;
      opacity: 0;
      transition: 0.3s;
    }

    figure,
    video {
      width: 100%;
    }

    &:last-child {
      &::before {
        display: none;
      }
    }

    &:hover {
      text-decoration: none;

      figcaption {
        opacity: 1;
        transition: 0.3s;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      transform: scaleY(1);
      border-right: solid 1px white;
      transition: 1s;
    }

    &.hidden {
      border-right: none;

      &::before {
        transform: scaleY(0);
        transition: 1s;
      }
    }
  }
}

.about-us,
.prestations,
.carousel,
.contact-us {
  z-index: 1;
  scroll-snap-stop: always;
  height: 100%;
}

.o_connected_user

.about-us,
.carousel,
.cc_shop,
.o_portal_wrap,
#wrap {
  padding-top: 132px;
  box-sizing: border-box;
}

.o_portal_wrap {
  background: black;
  background: linear-gradient(180deg, black 160px, transparent 160px);
}

.contact-us {
  .centered {
    display: grid;
    align-items: center;
  }

  .newsletter {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
  }

  a {
    color: white;
  }

  .contact-map {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

button {
  background: black;
  color: white;
  border: solid 1px white;
  padding: 1rem;

  &:hover {
    background: white;
    color: black;
    transition: 0.3s;
  }
}

#wrapwrap.o_portal {
  .cc_header {
    display: none !important;
  }
}

.cc_header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 1rem;
  z-index: 2;
  transform: translateY(0%);
  transition: none;
  font-family: 'MarkPro', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  background: black;

  &.hidden {
    transform: translateY(0%);
    transition: 0;
  }

  .cc_logo,
  .cc_nav {
    display: none;
  }

  nav {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: right;

    ul {
      li {
        display: inline-block;
        list-style-type: none;
        margin-right: 1rem;
        cursor: pointer;

        &:last-child {
          margin-right: 1rem;
        }

        a {
          color: white;
          text-decoration: none;

          &:hover {
            text-decoration: none;
            border-bottom: white solid 2px;

            &.no_border {
              border-bottom: none;
            }
          }
        }

        .dropdown-menu {
          a {
            color: black;
          }
        }
      }
    }
  }
}

.homepage {
  .cc_header {
    transform: translateY(0%);
    transition: 0.7s;

    &.hidden {
      transform: translateY(-100%);
      transition: 0.7s;
    }
  }
}

@media screen and (min-width: 768px) {
  .cc_header {
    nav {
      ul {
        li {
          a {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 35px;
  }

  .cc-container {
    font-size: 20px;
    line-height: 25px;
  }

  .cc_header {
    &.hidden {
      transform: translateY(0%);
      transition: 0;
    }
    nav {
      display: none;

      ul {
        li {
          display: block;
          padding: 1rem;
          text-align: center;
          justify-self: center;
          width: 100%;
          font-size: 40px;
        }
      }

      &.show {
        display: grid;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background: black;
        z-index: 10;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: start;

        .cc_close_menu {
          display: block;
          position: absolute;
          top: 1rem;
          right: 1rem;
          border: none;
          background: transparent;
        }
      }
    }

    .cc_logo,
    .cc_nav {
      display: block;
    }

    .cc_nav {
      position: absolute;
      top: 1rem;
      right: 1rem;
      border: none;
      background: transparent;
    }
  }

  .prestations {
    a {
      border-bottom: solid 1px white;

      &::before {
        display: none;
      }

      figcaption {
        opacity: 1;
      }
    }
  }
}

.text-container {
  padding: 0 2rem;
}

/* WRAPWRAP */
#wrapwrap {
  display: block;
  overflow: hidden;

  main {
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100%;
  }

  &.homepage {
    .shop_only {
      display: none;
    }

    main {
      scroll-snap-type: y mandatory;

      &.no-scroll {
        scroll-snap-type: none;
        scroll-behavior: inherit;
      }

      section {
        scroll-snap-align: start;
      }
    }
  }
}

.no-scroll {
  overflow: hidden;
}

.scrollable {
  overflow-y: scroll;
}

/* SHOP CART PILL */
.shop_cart {
  position: relative;

  .shop-pill {
    background: white;
    color: black;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: -1rem;
    left: 0.25rem;
    line-height: 1.5rem;
    text-align: center;
    font-size: 1rem;
  }
}

/* SHOP CART */
.cc_cart {
  .col-lg-12 {
    padding-right: 0;
  }

  .col-xl-4 {
    padding-left: 0;
  }

  .table-striped {
    th {
      height: 2.125rem;
    }
  }

  .js_cart_summary {
    border: none;
    border-top: solid 2px black;
    border-radius: 0;
    margin-top: 2rem;

    hr {
      border-color: black;
    }

    #order_total_untaxed,
    #order_total_taxes,
    #order_total {
      td:first-child {
        text-align: left !important;
      }

      td {
        border-color: black;
        border-width: 2px;
      }
    }
  }

  .table {
    th {
      border-top: none;
      border-bottom-color: black;
    }
  }

  .card-body {
    padding: 0 1.125rem 0 2rem;

    h4 {
      padding-top: 1rem !important;
    }

    a.btn {
      display: none !important;
    }
  }

  .oe_cart {
    .btn {
      margin-top: 9rem;
    }

    table {
      .btn {
        margin-top: 0;
      }

      .css_quantity {
        border: solid 1px black;
        display: grid;
        grid-template-columns: auto 1fr auto;
        flex-flow: unset;
        margin-bottom: 0 !important;
        height: 52px;

        .btn {
          background: none;
          border: none;
          color: black;
        }

        input {
          max-width: 100%;
          width: 100%;
          background: white;
          color: black;
          border: none;
          font-size: 1.5rem !important;
        }

        div {
          align-self: center;
        }
      }
    }
  }
}

/* PAYMENT */
.cc_cart,
.cc_payment,
.cc_checkout,
.cc_address,
.cc_confirmation {
  background: white;
  color: black;
  min-height: 100dvh;

  h1 {
    margin: 2rem 0;
  }

  h2, h3 {
    margin-top: 0 !important;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 30px !important;
    line-height: 30px;

    strong {
      font-weight: 400 !important;
    }
  }

  .progress-wizard {
    .progress-wizard-bar {
      background-color: black;
    }

    .progress-wizard-step {
      margin-bottom: 4rem;
      margin-top: 4rem;

      .progress-wizard-steplabel {
        color: black
      }

      .progress-wizard-dot {
        box-shadow: 0 0 0 0.125rem black;
      }

      &.active {
        .progress-wizard-dot {
          background: black;
          box-shadow: 0 0 0 0.125rem black;
        }
      }

      &.complete {
        .progress-wizard-dot {
          background: black;
          box-shadow: 0 0 0 0.125rem black;

          &:after {
            color: black !important;
          }
        }
      }
    }
  }

  .btn {
    border-radius: 0;
    font-weight: 400;
    font-family: 'MarkPro', sans-serif;

    &.btn-secondary {
      background-color: black;
      border-color: black;
    }
  }
}

.cc_confirmation {
  .oe_cart {
    .oe_structure {
      margin-top: 0 !important;
    }
  }
}

/* NEW SHOP */
.cc_shop {
  background: rgba(255, 255, 255, 0.95);
  color: black;

  a {
    color: black;
  }

  .categories-list {
    background: black;
    color: white;
    list-style: none;
    padding: 0 1rem;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;

    li {
      display: block;
      position: relative;
    }

    ul {
      padding: 0;
      background: black;
    }

    a {
      padding: 1rem;
    }

    .subcategories {
      position: absolute;
      left: 0;
      top: 56px;
      z-index: 1;
      background: black;
      padding: 0;
      margin: 0;
      width: max-content;

      li {
        border-top: solid 1px white;
        padding-right: 1rem;

        a {
          padding: 0.375rem;
          font-size: 12px;
          text-wrap: nowrap;
        }

        &:hover {
          background: white;
          color: black;

          a {
            color: black;
          }

          .inner-subcategory {
            li {
              padding-right: 0;
            }
            
            a {
              color: white;

              &:hover {
                color: black;
              }
            }
          }
        }
      }

      .extend {
        position: absolute;
        top: 0;
        right: 0.5rem;
        bottom: 0;
        display: grid;
        align-items: center;
      }

      a:hover {
        text-decoration: none;
      }

      .inner-subcategory {
        position: absolute;
        top: 0;
        z-index: 1;
        background: black;
        color: white;
        padding: 0;
        margin: 0;

        a {
          color: white;
        }

        &:hover {
          a {
            color: black;
          }
        }
      }
    }

    .subcategories.hidden {
      display: none;
    }

    .inner-subcategory {
      &.hidden {
        display: none;
      }
    }

    a {
      color: white;
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .shop-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    box-sizing: border-box;
    padding: 2rem;
    gap: 2rem;
  }

  .shop-item {
    position: relative;
    cursor: pointer;
    display: grid;
    grid-template-rows: 1fr 4.5rem;

    span[data-oe-model|="product.template"],
    img {
      display: block;
      width: 100%;
      height: 100%;
    }

    .aspect {
      aspect-ratio: 1;
    }

    img {
      object-fit: contain;
      background: white;
    }

    .shop-item-description {
      display: grid;
      align-items: end;
      grid-template-rows: auto 1fr;
      margin-top: 1rem;
      align-items: start;

      p {
        padding: 0;
        margin: 0;
      }
    }

    &.unpublished::before {
      content: 'Non publié';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
      pointer-events: none;
      background: rgba(black, 0.2);
      color: white;
      text-align: center;
      display: grid;
      align-items: center;
    }
  }
}
/* END OF NEW SHOP */

/* PRODUCT DETAILS */
#product_details {
  h1 {
    font-weight: 800;
    margin: 0;
    padding: 0;
  }
}
/* END OF PRODUCT DETAILS */

/* PRODUCT */
.product {
  position: relative;
  min-height: 100vh;
  padding-top: 136px;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  color: black;
  background: white;
  
    h1 {
      font-weight: 400 !important;
      font-family: 'MarkPro', sans-serif !important;
      font-size: 55px !important;
      line-height: 60px !important;
    }

    .images {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
    }

    .image-holder {
      width: 100%;
      grid-column: 1 / span 3;

      img {
        width: 100%;
      }
    }
    
    button {
      border: none;
    }

    .quantite {
      display: grid;
      border: solid 1px white;
      grid-template-rows: auto auto auto;
      width: 30rem;
      text-align: center;
      margin-bottom: 2rem;

      h1 {
        margin-bottom: 2rem;
      }

      .price {
        margin-bottom: 2rem;
      }

      .quantite-variable {
        display: grid;
        grid-template-columns: auto 1fr auto;
        border-bottom: solid 1px white;
        align-items: center;

        button {
          width: 5rem;
        }
      }

      .border-bottom {
        border-bottom: solid 1px white;
      }

      .fw {
        button {
          width: 100%;
        }
      }
    }
  }

.js_sale {
  background: white;
  color: black;
}

.js_product {
  .css_quantity {
    width: 30rem;
    border: solid 1px black;
    display: grid;
    grid-template-columns: auto 1fr auto;
    flex-flow: unset;
    margin-bottom: 0 !important;
    height: 52px;

    .btn {
      background: none;
      border: none;
      color: black;
    }

    input {
      max-width: 100%;
      width: 100%;
      background: white;
      color: black;
      border: none;
      font-size: 1.5rem !important;
    }

    div {
      align-self: center;
    }
  }
}

#add_to_cart_wrap {
  width: 30rem;
  border: solid 1px black;
  border-top: none;
  display: block !important;

  .btn {
    font-family: 'MarkPro', sans-serif;
    font-size: 30px !important;
    line-height: 35px !important;
    font-weight: 400 !important;
    margin: 0 !important;
    border-radius: 0 !important;
    display: block;
  }

  .btn-primary {
    background: white;
    color: black;
    border: none;

    &:hover {
      background: black;
      color: white;
    }

    &:active {
      background: rgb(80, 80, 80);
    }
  }

  .fa {
    display: none;
  }
}

/* prestations-page */
.prestations-page {
  padding-top: 132px;
  height: 100%;

  h2 {
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 2rem;
  }

  figcaption {
    text-align: center;
    opacity: 0;
    transition: 0.3s;
  }

  figure,
  video {
    width: 100%;
  }

  .prestations-content {
    align-self: center;
    overflow: hidden;
    padding-right: 2rem;
  }
}

/* CTA WRAPPER */
.cc_cta_wrapper {
  max-width: 300px;
  display: grid;
  grid-template-rows: auto auto;
  border: solid 1px white !important;

  .css_quantity {
    width: 100%;
    margin: 0 !important;
    border: none !important;
    display: grid !important;
    grid-template-columns: auto 1fr auto;

    input {
      width: 100%;
    }

    a {
      border: none;
      color: white !important;
    }
  }

  #add_to_cart_wrap {
    display: grid !important;
    grid-template-rows: auto auto;
    border-top: solid 1px white;
    width: 100%;
    margin: 0 !important;

    #add_to_cart {
      border-bottom: solid 1px white;
    }

    a {
      background-color: black !important;
      color: white !important;
      margin: 0 !important;
      border: none;
      width: 100%;

      i {
        display: none !important;
      }
    }
  }
}

/* CAROUSEL */
.carousel {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  overflow: hidden;

  .btn-carousel {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;

    &:hover {
      color: white;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .carousel-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 0 2rem;
    color: white;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .carousel-inner {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      scroll-behavior: smooth;
      scroll-snap-stop: always;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      a {
        width: 100%;
        height: 100%;
        flex-shrink: 0;
        position: relative;
        box-sizing: border-box;
        margin: 0 1rem;
        scroll-snap-stop: always;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        .shop-item-description {
          opacity: 0;
          transition: 0.5s;
          background: black;
          position: absolute;
          display: grid;
          align-items: end;
          grid-template-rows: 1fr auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          color: white;

          p {
            padding: 0;
            margin: 0;
          }
        }

        &:hover {
          .shop-item-description {
            opacity: 1;
            transition: 0.5s;
          }
        }
      }
    }
  }

  .description {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 2rem;
  }
}

.cc_attributes {
  .cc_label {
    font-weight: 900;
  }

  .cc_description {
    margin-bottom: 1rem;
  }
}

/* Overwrite */
.oe_website_login_container {
  /* .oe_website_sale */
  padding-top: 132px !important;

  table {
    background: white;
  }
}

form label {
  font-weight: 400;
}

.o_shop_discussion_rating,
.o_website_rating_static,
#o_product_terms_and_share,
#product_option_block {
  display: none !important;
}

/* SEARCH */
.cc_search {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(black, 0.7);
  padding: 120px 2rem;
  transform: translateY(0%);
  opacity: 1;
  transition: 0.3s;

  .cc_shadow {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .input-group {
    z-index: 1;
  }

  &.hidden {
    transition: 0.3s;
    opacity: 0;
    transform: translateY(-100%);
  }
}

/* CART LINES */
.js_cart_lines {
  color: black;
  font-size: 1rem;

  a {
    color: black;
  }

  th {
    font-size: 1rem;
  }

  tr {
    display: grid;
    grid-template-columns: 5rem 1fr 8rem 9rem 4rem;
  }
}

.js_cart_summary {
  font-size: 1rem;
}

.desktop-only {
  display: inherit;
}

.mobile-only,
.cc_close_menu {
  display: none;
}

#oe_main_menu_navbar + #wrapwrap {
  .cc_header {
    top: 46px;
  }
}

#product_detail {
  .carousel {
    padding-top: 0;
  }

  .carousel-inner {
    .align-items-center {
      align-items: start !important;
    }
  }
}


/*************************************
 *  MOBILE VIEW
 *************************************/
@media screen and (max-width: 767px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: inherit;
  }

  h1 {
    margin-bottom: 1rem;
  }

  #product_details {
    h1 {
      font-size: 30px !important;
    }

    h3 {
      font-size: 30px !important;
    }
  }

  .homepage .cc_header {
    transition: 0.2s;
    transform: none;
  }

  .cc-container {
    font-size: 20px;

    &.two-columns {
      grid-template-columns: 1fr;
    }

    &.three-columns {
      grid-template-columns: 1fr;
    }
  }

  /* prestations-page */
  .prestations-page {
    h2 {
      text-align: center;
    }

    p {
      margin: 0 1rem;
    }

    .prestations-content {
      padding-right: 0;
      
      p {
        span {
          font-size: 25px !important;
        }
      }
    }
  }

  .video_banner {
    display: none;
  }

  figcaption {
    font-size: 25px;
  }

  .about-us,
  .carousel,
  .contact-us,
  .cc_shop,
  .o_portal_wrap,
  .prestations {
    padding-top: 92px;
  }

  #o-carousel-product {
    &.carousel {
      padding-top: 0 !important;
    }
  }

  .carousel {
    grid-template-rows: auto 1fr;

    .description {
      grid-row: 1;
      padding: 1rem;
    }
  }

  .contact-us {
    font-size: 25px;
    grid-template-rows: 60% auto auto;

    .text-container {
      grid-row: 2;
    }

    .contact-map {
      grid-row: 1;
    }

    .newsletter {
      position: relative;
      bottom: auto;
      left: auto;
      right: auto;
      margin: 0 1rem;
      margin-bottom: 1rem;
    }
  }

  .cc_scroll {
    padding-bottom: 2rem;
  }

  .cc_nav_logo {
    margin: 1rem;
  }

  .cc_cta_wrapper {
    max-width: 100%;
  }

  #add_to_cart_wrap {
    width: 100%;

    .btn {
      font-size: 20px !important;
      line-height: 25px !important;
    }
  }

  .js_product {
    .css_quantity {
      width: 100%;
      font-size: 20px !important;
    }
  }

  .cc_shop {
    .categories {
      position: fixed;
      width: 100dvw;
      z-index: 2;

      button {
        border: none;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        text-align: left;

        &:hover {
          background: black;
          color: white;
          transition: inherit;
        }

        span.hidden {
          display: none;
        }

        span {
          text-align: left;
        }
      }

      .categories-list {
        display: none;

        &.show {
          display: block;
          overflow: auto;
          height: 100dvh;
          width: 100dvw;
          box-sizing: border-box;
        }

        .subcategories {
          position: relative;
          top: inherit;
          width: 100%;
          box-sizing: border-box;

          li {
            border: none;
            padding-left: 1.5rem;
            width: 100%;
            box-sizing: border-box;
            
            a {
              font-size: 1rem;
            }

            &:hover {
              background: black;
              color: white;

              a {
                color: white;
              }
            }

            a:active {
              background: rgba(white, 0.1);
            }
          }

          .extend {
            align-items: baseline;
          }

          .inner-subcategory {
            position: relative;
            top: inherit;
            right: inherit;

            a {
              color: white !important;
            }

            a:hover {
              color: white !important;
            }
          }
        }
      }
    }
    
    .shop-grid {
      gap: 1rem;
      grid-template-columns: 1fr;
      padding: 1rem;
      margin-top: 56px;

      .shop-item {
        span[data-oe-model|="product.template"] {
          width: calc(100dvw - 2rem);
        }
      }
    }
  }
}

/*************************************
 *  TABLET FIX
 *************************************/
@media screen and (max-width: 900px) {
  .shop_cart {
    .shop-pill {
      top: -0.5rem;
    }
  }
}

/*************************************
 *  4K VIEW
 *************************************/
@media screen and (min-width: 1500px) {
  .about-us,
  .carousel,
  .cc_shop,
  #wrap {
    padding-top: 164px;
  }

  .oe_website_login_container {
    padding-top: 164px !important;
  }

  #oe_main_menu_navbar+#wrapwrap {
    .about-us,
      .carousel,
      .cc_shop {
        padding-top: 164px;
      }
  }

  .text-container {
    padding: 0 4rem;
  }

  .cc_header {
    padding: 2rem;
  }

  .contact-us {
    .newsletter {
      left: 2rem;
      right: 2rem;
      bottom: 2rem;
    }
  }

  .cc_shop {
    .shop-grid {
      grid-template-columns: repeat(5, 16rem);
    }
  }
}

.pagination {
  padding: 1rem;
  justify-content: center;

  .page-item {
    &.active {
      a {
        background-color: black;
        border-color: black;
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  .cc_shop {
    .shop-grid {
      grid-template-columns: repeat(5, 19.5rem);
    }
  }
}